.board {
  background-image: url("https://images.pexels.com/photos/301703/pexels-photo-301703.jpeg?auto=compress&cs=tinysrgb&h=350");
 background-size: cover;
 background-position: 50% 50%;
 object-fit: cover;
}


  
 .board h1 {
  text-align: center;
  background-color:red;
}
.create-column {
  border:10px solid red;
  border-radius:50%;  
  margin: auto;
  margin-top: 30px;
  
}

.column {
border:10px solid red;
border-radius:20%;
display:inline-block;
padding:20px;
margin:20px;
background-color:grey;
min-width: 20%;
max-width: 50%;
margin: 50px 50px;
    
}

